registry "http://npmscopes.site.gs.com"
SASS_BINARY_PATH "H:\Source\angular-react\npm_binding\node-sass\vendor\windows\win32_x64_64_binding-4.9.1.node"
network-timeout 600000
unsafe-disable-integrity-migration true
cache-folder ".yarn"